# 01. Importing libraries

In [ ]:
# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Data types

In [2]:
x = 2

In [3]:
x

2

In [4]:
print(x)

2

In [5]:
type(x)

int

In [6]:
y = 5.678

In [7]:
type(y)

float

In [8]:
z = 'Brazil'

In [9]:
type(z)

str

In [10]:
type(Mania)

NameError: name 'Mania' is not defined

In [11]:
type('Mania')

str

In [12]:
tupe(True)

NameError: name 'tupe' is not defined

In [13]:
type(True)

bool

In [14]:
type(False)

bool

In [15]:
print(x)

2

In [16]:
x + 4

6

In [17]:
x = x + 4

In [18]:
print(x)

6

In [19]:
x + y

11.678

In [23]:
a = 'Hello, '

In [21]:
b = 'Karine'

In [22]:
a + b

'HelloKarine'

In [24]:
a + b

'Hello, Karine'

In [26]:
# you can concatenate strings, but cannot substract strings

In [27]:
n = 'potato'

In [28]:
n * 12

'potatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotato'

In [29]:
# but you can multiply strings

In [30]:
x == y

False

In [31]:
 # double equal signs ('==') is to check quality, whereas a single equal sign ('=') is to asign a value to a variable

In [32]:
type(x == y)

bool